<!DOCTYPE html>
<html>
<head>
	<title>Update Restaurant</title>
	<link rel="stylesheet" type="text/css" href="/Css/addRestaurant.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="   sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="/images/<%= currentUser.image %>" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h6 class="m-0"><%= currentUser.name %></h6>
        <a href="#" class="font-weight-light text-muted mb-0">View profile</a>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">FOODdy</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light active"><i class="fa fa-th-large mr-3 text-primary fa-fw"></i>Add Restaurant</a>
  	</li>

    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light"><i class="fa fa-th-large mr-3 text-primary fa-fw"></i>View Restaurant</a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light"><i class="fa fa-th-large mr-3 text-primary fa-fw"></i>View Food Items </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light"><i class="fa fa-th-large mr-3 text-primary fa-fw"></i>Add Food Items</a>
    </li>

     <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light"> <i class="fa fa-th-large mr-3 text-primary fa-fw"></i> Edit Food Items </a>
    </li>

     <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light"> <i class="fa fa-th-large mr-3 text-primary fa-fw"></i> Delete Food Items</a>
  	</li>
  </ul>
</div>
<!-- End vertical navbar -->

<header>
    <%- include('./partials/headerAdmin') %>
     <div class="title">
            <h1 style="font-weight: bold;font-family: Comic Sans MS;">Hello Manager!</h1>
             <h4 class="mb-0">Manage all your restaurant from here</h4>
    </div>
    </header>
<!-- Page content holder -->
<div class="page-content p-5" id="content">

  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i></button>
  <!-- Demo content -->
	<%- include('./partials/message') %>

  <form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="post">
          <h3 style="margin-bottom: 25px; text-align: center; font-size: 30px; font-weight: bold;">UPDATE RESTAURANT</h3>
      <div class="form-group">
		  <div class="row">
		  <label class="col-md-4 control-label text-center">Restaurant ID</label>
		  <div class="col-md-8">
		  <input placeholder="Your Restaurant's ID" name="id" class="form-control input-md" value="<%= restaurant.id %>" required="" type="text">
		    </div>
		  </div>
		</div>

		<div class="form-group">
		  <div class="row">
		  <label class="col-md-4 control-label text-center">Restaurant Name</label>
		  <div class="col-md-8">
		  <input placeholder="Your Restaurant's Name" name="name" class="form-control input-md" value = "<%= restaurant.name %>" required="" type="text">
		    </div>
		  </div>
		</div>

		<div class="form-group">
		  <div class="row">
		  <label class="col-md-4 control-label text-center">Restaurant Category</label>
		  <div class="col-md-8">
		  <input placeholder="Restaurant Category" name="category" class="form-control input-md" value = "<%= restaurant.category %>" required="" type="text">
		    </div>
		  </div>
		</div>

    <div class="form-group">
		  <div class="row">
        <label class="col-md-4 control-label text-center">Restaurant Description</label>
        <div class="col-md-8">
          <input placeholder="Restaurant Description" name="description" class="form-control input-md" value = "<%= restaurant.description %>" required="" type="text">
        </div>
      </div>
    </div>

    <div class="form-group">
		  <div class="row">
		  <label class="col-md-4 control-label text-center">Restaurant Email</label>
		  <div class="col-md-8">
		  <input placeholder="Your Restaurant's Email" name="email" class="form-control input-md" value = "<%= restaurant.email %>" required="" type="text">
		    </div>
		  </div>
		</div>

          <div class="form-group">
		  <div class="row">
		  <label class="col-md-4 control-label text-center">Contact</label>
		  <div class="col-md-8">
		  <input placeholder="Your Restaurant's Contact Number" name="contact" class="form-control input-md" value = "<%= restaurant.contact %>" required="" type="text">
		    </div>
		  </div>
		</div>

          <div class="form-group">
		  <div class="row">
		  <label class="col-md-4 control-label text-center">Restaurant Address</label>
		  <div class="col-md-8">
		  <input placeholder="Your Restaurant's Address" name="address" class="form-control input-md" value = "<%= restaurant.address %>" required="" type="text">
		    </div>
		  </div>
		</div>

          <div class="form-group">
          <button type="submit" id="submit" name="submit" class="btn btn-primary pull-left"> EDIT RESTAURANT </button>
      </div>
        </form>
        <br>

</div>
<!-- End demo content -->

<script type="text/javascript">
	$(function() {
  // Sidebar toggle behavior
  $('#sidebarCollapse').on('click', function() {
    $('#sidebar, #content').toggleClass('active');
  });
});
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
