<!DOCTYPE html>
<html>
<head>
	<title>Edit Profile</title>
	<link rel="stylesheet" type="text/css" href="/Css/editUserProfile.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="   sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <%- include('./partials/header') %>

    <header>
    <div class="title">
    	</div>
    </header>


    <div class="container">
	<div class="jumbotron">
	<div class="head text-center">
		<h1 style="font-size: 60px;"> Edit Profile</h1>
	</div>
	</div>
	</div>


	<div class="container">
	<div class="jumbotron" style="margin-top: 20px;">
		<div>
     		 <h3 style="font-weight: bold; font-size: 45px;">Personal info</h3>
  		</div>

    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

      <form action="/user/editUserProfile/<%= currentUser._id%>?_method=PUT" class="form-horizontal" role="form">

				<div class="row">
					<div class="col-md-4">
						<div class="container">
							<div class="form-group">
							<div class="input-group">
									<img id='img-upload'/>
										<span class="input-group-btn">
										<span class="btn btn-default btn-file">
											<input type="file" name="image" value="<%= currentUser.image %>" id="imgInp">
											<button class="btn btn-primary">upload</button>
										</span>
										</span>
								</div>
							</div>
					 </div><!-- container -->
					</div>

					<div class="col-md-8">
        	<div class="form-group">
          <label class="col-md-4 control-label">Full name:</label>
          <div class="col-md-12">
            <input class="form-control" name="name" placeholder="Full name" value="<%= currentUser.name%>" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Username:</label>
          <div class="col-md-12">
            <input class="form-control" name="usernamename" placeholder="Username" value="<%= currentUser.username%>" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Email:</label>
          <div class="col-md-12">
            <input class="form-control" name="email" placeholder="Email" value="<%= currentUser.email%>" type="Email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Contact:</label>
          <div class="col-md-12">
            <input class="form-control" name="contact" placeholder="Contact" value="<%= currentUser.contact%>" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Address:</label>
          <div class="col-md-12">
            <input class="form-control" name="address" placeholder="Address" value="<%= currentUser.address%>" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Password:</label>
          <div class="col-md-12">
            <input class="form-control" name="password" placeholder="password" value="<%= currentUser.password%>" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-12">
            <input class="btn btn-primary" value="Save Changes" type="submit">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
				</div>
					</div>
      </form>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">

$(document).ready( function() {
	$(document).on('change', '.btn-file :file', function() {
var input = $(this),
	label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
input.trigger('fileselect', [label]);
});

$('.btn-file :file').on('fileselect', function(event, label) {

		var input = $(this).parents('.input-group').find(':text'),
				log = label;

		if( input.length ) {
				input.val(log);
		} else {
				if( log ) alert(log);
		}

});
function readURL(input) {
		if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
						$('#img-upload').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
		}
}

$("#imgInp").change(function(){
		readURL(this);
});
});
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
