<!DOCTYPE html>
<html>
<head>
	<title>FOOdBite</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" type="text/css" href="/Css/home.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="   sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
			<%- include('./partials/header') %>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		    	<div class="overlay"></div>
		      <img class="d-block w-100" src="/images/slide1.jpg" alt="First slide" width="1100" height="600">
		      <div class="carousel-caption d-none d-md-block">
		       <h1 class="animated bounceInRight" style="animation-delay: 1s;">WE GET WHAT YOU LOVE</h1>
		       <p class="animated bounceInLeft" style="animation-delay: 2s;">From Your Favorite Restaurants!</p>
              </div>
		    </div>
		    <div class="carousel-item">
		    	<div class="overlay"></div>
		      <img class="d-block w-100" src="/images/slide02.jpg" alt="Second slide" width="1100" height="600">
		      <div class="carousel-caption d-none d-md-block">
        		<h1 class="animated bounceInRight" style="animation-delay: 1s;">ORDER TAKE AWAY ONLINE</h1>
        		<p class="animated bounceInLeft" style="animation-delay: 2s;">From Your Favorite Restaurants!</p>
      		</div>
		    </div>
		    <div class="carousel-item">
		    	<div class="overlay"></div>
		      <img class="d-block w-100" src="/images/slide3.jpg" alt="Third slide" width="1100" height="600">
		      	<div class="carousel-caption d-none d-md-block">
        			<h1 class="animated bounceInRight" style="animation-delay: 1s;">ORDER TAKE AWAY ONLINE</h1>
        			<p class="animated bounceInLeft" style="animation-delay: 2s;">From Your Favorite Restaurants!</p>
        		</div>
		    </div>
		  </div>

		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
	</div>

	<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome To FoodBite</h1>
    <h6>Welcome to The Biggest Network of Food Ordering & Delivery</h6>
    <form>
	    <div class="form-box">
			  <input class="search-field skills" type="text" name="search" placeholder="Search the Restaurants here..."/>
			  <button class="search-btn" type="submit">Search</button>
		  </div>
	  </form>
		<% if(noMatch!==null){ %>
			<h3><%= noMatch %></h3>
		<% } %>
   </div>
  <br>
  </div>


<div class="container">
	<h1 style="text-align: center;">Collections</h1>
	<h5 style="text-align: center;">Explore curated lists of top restaurants and cafes in Bhopal, based on trends</h5>
	<hr>
	<div class="row">
	    <div class="row">
	    <div class="container text-center">
	    <div class="row">
	        <div align="center"> <button class="btn btn-default filter-button" data-filter="popular">Popular Brands</button>
	          <button class="btn btn-default filter-button" data-filter="Express">Express Delivery</button>
	          <button class="btn btn-default filter-button" data-filter="Vegetarian">Vegetarian Options</button>
	          <button class="btn btn-default filter-button" data-filter="pocket">Pocket Friendly</button>
	          <button class="btn btn-default filter-button" data-filter="all">See All</button>
	        </div>
	     </div>
	     <hr>
    </div>
 <br>
 <br>

 <div class="container">
	<div class="row row-cols-1 row-cols-md-3">
			 <% restaurants.forEach(function(restaurant){ %>
			 <div class="col mb-3 col-md-3 col-sm-6 filter <%= restaurant.category%>">
			 <div class="card h-100" style="width: 15rem;">
				 <img src="./images/<%= restaurant.image %>" class="card-img-top" alt="..." height="220px">
				<div class="card-body">
					<h5 class="card-title"><%= restaurant.name %></h5>
					<p class="card-text"><%= restaurant.description %></p>
					<h6 class="detail"><%= restaurant.address %></h6>
				</div>
				<a class="btn btn-xs btn-outline-success" href="/home/<%= restaurant._id%>">More..</a>
			 </div>
			 </div>
		 <% }) %>
</div>
</div>
</div>
</div>
 </div>

	<%- include ('./partials/footer') %>

<script type="text/javascript">

  $(document).ready(function(){

$(".filter-button").click(function(){
var value = $(this).attr('data-filter');

if(value == "all")
{

$('.filter').show('1000');
}
else
{

$(".filter").not('.'+value).hide('3000');
$('.filter').filter('.'+value).show('3000');

}
});

if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");


$(function () {
    $(window).on('scroll', function () {
        if ( $(window).scrollTop() > 10 ) {
            $('.navbar').addClass('active');
        } else {
            $('.navbar').removeClass('active');
        }
    });
});

});
</script>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
