<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/Css/middlePage.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <%- include('partials/headerAdmin')%>
    <header>
    <div class="title">
          <h1>Hello <%= currentUser.name%>!</h1>
          <a href="/restaurants/<%= restaurant._id %>/foods/addFood" type="button" class="btn btn-outline-warning">Add Food Items</a>
          <a href="/restaurants/<%= restaurant._id %>/foods/viewFood" type="button" class="btn btn-outline-warning">View Food Items</a>
      </div>
      </header>
      <br><br>


      <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
         <% restaurant.fooditems.forEach(food =>{ %>
      <div class="col mb-3 col-md-4 col-sm-6">
      <div class="card h-100" style="width: 20rem;">
           <img src="/images/<%= food.foodImage %>" class="card-img-top" alt="..." height="200px">
              <div class="card-body">
              <h5 class="card-title"><%= food.foodName %></h5>
               <p><%= food.foodDescription %></p>
              <h5 class="text-danger rs">&#8377; <%= food.foodPrice %></h5>
              <a href="/restaurants/<%= restaurant._id %>/foods/<%= food._id %>/edit" class="btn btn-xs btn-outline-warning">Update</a>
              <form id="delete-form" action="/restaurants/<%= restaurant._id %>/foods/<%= food._id %>?_method=DELETE" method="post">
                <button class="btn btn-outline-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
